/* movies */

.movies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
}


/* movie-item*/

.movie-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.movie-item__header {
    position: relative;
}

.movie-item .movie-item__header.movie-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}

.movie-item .movie-item__header .movie-item__header.movie-item__header__rating .movie-item__header.movie-item__header__rating__score {
    margin-left: 16px;
}

.movie-item .movie-item__content {
    padding: 16px;
}

.movie-item .movie-item__content h3 {
    margin: 0 0 10px 0;
}

.movie-item .movie-item__content h3 a {
    color: #db0000;
    text-decoration: none;
}

.movie-item .movie-item__content p {
    overflow: hidden;
    text-decoration: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* Movie */

.movie {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.movie .movie__poster {
    width: 100%;
    max-width: 400px;
}

.movie .movie__info h4 {
    margin: 8px 0;
}